.plant-details {
  width: 100%;
}

.plant-details__innerdiv {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.plant-details__img {
  height: 7em;
  max-width: 157px;
  border: solid 1px var(--black);
  border-radius: 5px;
  margin: 0.2em;
}

.plant-details__img:hover {
  cursor: pointer;
}

.plant-details h2 {
  font-size: 0.8em;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 0.2em;
  border-radius: 2px;
  text-align: center;
  background-color: hsl(73, 60%, 88%);
}

.detail__label {
  color: hsl(0, 0%, 45%);
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.detail__content {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.plant-details__raw-data-button {
  padding: 0.2em;
  font-size: 0.8em;
}

.plant-details__loading {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.plant-details__details {
  height: 100%;
  margin-top: 18.72px;
}

@media screen and (min-device-width: 814px) {
  .plant-details__img {
    height: 12rem;
    max-width: none;
    border: solid 1px var(--black);
    border-radius: 5px;
    margin: 0.2em;
  }
}

@media screen and (max-width: 813px) {
  .plant-details__innerdiv {
    flex-direction: column;
    align-items: center;
  }

  .plant-details__raw-data-button {
    margin-top: 2rem;
  }
}
