@import url('https://fonts.googleapis.com/css?family=Sacramento|Oswald&display=swap');

:root {
  --black:rgba(0,0,0,0.87);
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: var(--black) 0.5px solid;
  box-shadow: 1px 1px 1px var(--black);
  background-color: white;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: var(--black); 
  font-family: 'Sacramento';
}

.header__nav {
  width: 100%;
  border-bottom: solid 1px var(--black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  font-size: 0.8em;
  width: 100%;
  border-top: solid 1px var(--black);
  text-align: center;
}
.footer p {
  margin: 0.5em;
}


.app {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.error {
  color: red;
  height: 1em;
}

.HomeRoute {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.6em;
  background-image: url('./resources//kendal-TW2bfT_tWDI-unsplash.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.HomeRoute__form {
  display: flex;
  flex-direction: column;
}

.HomeRoute__pitch {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: hsla(0, 0%, 95%, 0.9);
}

.HomeRoute__pitch p {
  margin: 0.5em;
  font-size: 1em;
  
}

.HomeRoute__authentication .login {
  display: none;
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  margin-bottom: 1em;
  
  background-color: hsla(0, 0%, 95%, 0.92);
  box-shadow: 2px 2px 2px var(--black);
  border: solid 0.5px var(--black);
}

.registration__form label,
.login label {
  display: block;
  color: #444;
}

.login {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15em;
  
  background-color: hsla(0, 0%, 95%, 0.92);
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--black);
  border: solid 0.5px var(--black);
}

.LoginRoute {
  margin-top: 2em;
}

.plant-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.plant-card {
  background-color: #eee;
  width: 16em;
  /* height: 22em; */
  padding: 1em;
  margin: 1em;
  padding-top: 0.1em;
  
  border-radius: 12px;
  box-shadow: 5px 5px 5px var(--black);
  border: solid 0.5px var(--black);
}

.plant-card * {
  margin: 0;
}

.plant-card button {
  margin: 0.5em;
  padding: 0.2em;
}

.plant-card__watered {
  display: flex;
}

.plant-card textarea {
  width: 100%;
  height: 4em;
}

.plant-card img {
  height: 10em;
}

.plant-card__header {
  text-align: center;
}

.plant-card__header {
  text-transform: capitalize;
}

iframe {
  width: 60em;
  height: 15em;
}

.garden {
  width: 100%;
}

.garden-hud {
}

.garden-hud button {
  margin-right: 1em;
  display: block;
}

.garden-hud a {
  text-decoration: none;
}

.garden-hud__filter {
  height: 2em;
  border-radius: 5px;
  margin-left: 0.5em;
}

.plant-search ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.plant-search a {
  text-decoration: none;
}

.plant-search__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #eee;
  margin: 1em 0;
  padding: 0.5em 1em;
  width: 100%;
  box-sizing: border-box;

  color: var(--black);
}

.plant-search__list-item:nth-child(2n) {
  background-color: #ddd;
}

.plant-search__list-item__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.plant-search__plant-names p {
  margin: 0;
}

.plant-search {
  width: 100%;
}

.plant-search form {
  text-align: center;
}

.plant-search__search-input {
  width: 60%;
  height: 2.2em;
  border-radius: 5px;
}

.plant-details {
  width: 100%;
}

.plant-details__innerdiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.plant-details__images {
  margin-right: 0.5em;
  text-align: right;
  width: 50%;
}

.plant-details img {
  height: 7em;
  max-width: 157px;
  border: solid 1px var(--black);
  border-radius: 5px;
  margin: 0.2em;
}

.plant-details__details {
  text-align: left;
}

.demo-banner {
  margin: 0;
}

@media screen 
  and (min-device-width: 500px)  { 

    .main {
      min-height: 80vh;
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 1em auto;
      max-width: 1000px;
    }
    
    .garden-hud {
      padding: 1em;
    }
    
    .garden-hud button {
      margin-right: 5em;
      display: inline;
    }
    
    .garden-hud__filter {
      height: 2em;
      width: 40em;
      border-radius: 5px;
      margin-left: 0.5em;
    }

    .HomeRoute__authentication {
      width: 18em;
    }

    .HomeRoute__authentication .login {
      display: flex;
    }

    .HomeRoute {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 2em;
    }

    .HomeRoute__pitch {
      width: 50%;
      margin-right: 2em;
      background-color: hsla(0, 0%, 95%, 0.92);
      box-shadow: 2px 2px 2px var(--black);
      border: solid 0.5px var(--black);
      border-radius: 3px;

    }

    .registration__form {
      border-radius: 3px;
    }

    .plant-details__images {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
      margin-right: 2em;
      justify-content: flex-end;
    }
}