@import url('https://fonts.googleapis.com/css?family=Sacramento|Oswald&display=swap');

:root {
  --black:rgba(0,0,0,0.87);
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header a {
  text-decoration: none;
  color: var(--black);
  font-family: 'Sacramento';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: var(--black) 0.5px solid;
  box-shadow: 1px 1px 1px var(--black);
  background-color: white;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

.header__nav {
  width: 100%;
  border-bottom: solid 1px var(--black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  font-size: 0.8em;
  width: 100%;
  border-top: solid 1px var(--black);
  text-align: center;
}
.footer p {
  margin: 0.5em;
}

.app {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  margin: 1em auto;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.error {
  color: red;
  height: 1em;
}

.registration {
  display: flex;
  justify-content: space-evenly;
}

.registration__form {
  display: flex;
  flex-direction: column;
}

.registration__pitch {
  width: 60%;
}

.plant-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.plant-card {
  background-color: #eee;
  width: 16em;
  height: 22em;
  padding: 1em;
  margin: 1em;
  padding-top: 0.1em;
  
  border-radius: 1em;
  box-shadow: 5px 5px 5px var(--black);
  border: solid 0.5px var(--black);
}

.plant-card * {
  margin: 0;
}

.plant-card button {
  margin: 0.5em;
  padding: 0.2em;
}

.plant-card__watered {
  display: flex;
}

.plant-card textarea {
  width: 100%;
  height: 4em;
}

.plant-card img {
  height: 10em;
}

.plant-card__header {
  text-align: center;
}

.plant-card__header {
  text-transform: capitalize;
}

iframe {
  width: 60em;
  height: 15em;
}

.garden-hud {
  height: 2em;
  padding: 1em;
}

.plant-search ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.plant-search a {
  text-decoration: none;
}

.plant-search__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ddd;
  margin: 1em 0;
  padding: 0.5em 1em;
  width: 100%;

  border-radius: 1em;
  box-shadow: 5px 5px 5px var(--black);
  border: solid 0.5px var(--black);

  color: var(--black);
}


.plant-search {
  width: 100%;
}

.plant-search form {
  text-align: center;
}

.plant-search__search-input {
  width: 60%;
  height: 2.2em;
  border-radius: 5px;
}

.plant-details {
  width: 80%;
}

.plant-details__innerdiv {
  display: flex;
  justify-content: center;
}

.plant-details__images {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin-right: 2em;
  justify-content: flex-end;
}

.plant-details img {
  height: 10em;
  border: solid 1px var(--black);
  border-radius: 5px;
  margin: 0.2em;
}

.plant-details__details {
  text-align: left;
}

.demo-banner {
  margin: 0;
}

